language: node_js
node_js: '12'
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
install:
  - yarn install --frozen-lockfile --ignore-engines
before_script:
  - yarn run build
jobs:
  fast_finish: true
  include:
    - stage: Checks
      name: Pull Request
      if: type = pull_request
      script: yarn run check:pr
      node_js: '12'
    - name: Build Sizes
      if: type = pull_request
      script:
        - yarn run build:sizes
        - yarn run check:build
      node_js: '12'
    - stage: Tests
      name: Test @ 10
      script: yarn run jest:coverage -w 4 && yarn run lint:errors
      node_js: '10'
    - name: Test @ 12
      script: yarn run jest:coverage -w 4 && yarn run lint:errors
      node_js: '12'
    - stage: Release
      name: Storybook
      script: skip
      node_js: '12'
      if: branch = master
      before_deploy:
        - yarn run build:storybook
      deploy:
        provider: script
        script: yarn run release:storybook
        skip_cleanup: true
        on:
          branch: master
      after_deploy:
        - npx chromatic --storybook-build-dir ./storybook-static
    - name: NPM
      script: skip
      node_js: '12'
      if: branch = master
      before_deploy:
        - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" >> $HOME/.npmrc 2> /dev/null
        - git config --global user.name ${GITHUB_USER}
        - git config --global user.email ${GITHUB_EMAIL}
        - git remote set-url origin "https://${GITHUB_TOKEN}@github.com/lorica/uc-design-system.git"
          > /dev/null 2>&1
        - git checkout master
      deploy:
        provider: script
        script: yarn run release
        skip_cleanup: true
        on:
          branch: master
cache:
  yarn: true
